.navbar-brand
{
    font-family:"Ubuntu",sans-serif;
    font-size: 3em;
    font-weight: bold;
    color:#fff;
}
a{
    text-decoration: none;
}
/* Plus button for adding new user bottom right*/
.box
{
    position: fixed;
    bottom: 10px;
    right: 20px;
    margin-bottom: 30px;
}